doctype html

- const data = htmlWebpackPlugin.options;

html(lang='es')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='version', content=data.package.version)
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')

    title=data.package.app.name

    //- Social sharing
    meta(property='og:title' content=data.package.app.name)
    meta(property='og:description' content=data.package.app.description)
    meta(property='og:type' content='website')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')
    meta(property='fb:app_id' content=data.env.FACEBOOK_APP_ID)
    meta(property='og:image' content=data.package.app.ogImage)
    meta(property='og:url' content=data.package.app.home)

    meta(name='twitter:card' content='summary')

    //- External styles
    each style in data.package.external.styles
      link(
        href=style.src
        integrity=style.integrity
        crossorigin='anonymous'
        rel='stylesheet'
        )

  body
    #app

    //- External scripts
    each script in data.package.external.scripts
      script(
        src=script.src
        integrity=script.integrity
        crossorigin='anonymous'
        )

    //- Service worker
    //- if data.env.NODE_ENV === 'production'
    script(nonce='2726c7f26c') !{data.serviceWorkerLoader}
