doctype html

- const opts = htmlWebpackPlugin.options;

html(lang='en')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='version', content=opts.package.version)
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')

    title=opts.package.app.name

    //- Social sharing
    meta(property='og:title' content=opts.package.app.name)
    meta(property='og:description' content=opts.package.app.description)
    meta(property='og:type' content='website')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')
    meta(property='fb:app_id' content=opts.env.FACEBOOK_APP_ID)
    meta(property='og:image' content=opts.package.app.ogImage)
    meta(property='og:url' content=opts.package.app.home)

    meta(name='twitter:card' content='summary')

    //- External styles
    each style in opts.package.external.styles
      link(
        href=style.src
        integrity=style.integrity
        crossorigin='anonymous'
        rel='stylesheet'
        )

  body
    #app

    //- External scripts
    each script in opts.package.external.scripts
      script(
        src=script.src
        integrity=script.integrity
        crossorigin='anonymous'
        )

    //- Service worker loader
    //- if opts.env.NODE_ENV === 'production'
    script(src='service-worker-loader.js')
