doctype html

- const data = htmlWebpackPlugin.options;

html(lang='es')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='version', content=data.package.version)
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(charset='utf-8')

    title=data.slseed.title

    //- Social sharing
    meta(property='og:title' content=data.slseed.title)
    meta(property='og:description' content=data.slseed.description)
    meta(property='og:type' content='website')
    meta(property='og:image:width' content='1200')
    meta(property='og:image:height' content='630')
    meta(property='fb:app_id' content=data.process.env.FACEBOOK_APP_ID)
    meta(property='og:image' content=data.slseed.ogImage)
    meta(property='og:url' content=data.slseed.ogUrl)

    meta(name='twitter:card' content='summary')

    //- External styles (CDN)
    each style in data.cdn.styles
      link(
        href=style.src
        integrity=style.integrity
        crossorigin='anonymous'
        rel='stylesheet'
        )

  body
    #app

    //- External scripts (CDN)
    each script in data.cdn.scripts
      script(
        src=script.src
        integrity=script.integrity
        crossorigin='anonymous'
        )

    //- Service worker
    if data.process.env.NODE_ENV === 'production'
      script !{data.serviceWorkerLoader}
